html,
body {
  margin: 0;
  padding: 0;
}

body{
    background: rgb(128,0,255);
    background: linear-gradient(150deg, rgba(128,0,255,1) 0%, rgba(0,14,50,1) 35%, rgba(0,0,0,1) 100%);
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

a{
    color: #ff00ff;
}

.pixel{
    image-rendering: pixelated;
}


#content{
    background-image: url("stars.gif");
    width: 100%;
    height: 100%;
    font-size: 20px;
    position: fixed;
    color: #ff00ff;
}

#scroller{
    overflow: auto;
    height: 100%;
    width: 100%;
}

#menuHead{
    width: 100%;
    height: 80px;
    padding: 10px;
}

#menu{
    background: #00000080;
    border: solid 4px;
    border-image-source: url(spectrum.jpg);
    border-image-slice: 60 30;
    width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

#menu a{
    color: #ff00ff;
    text-decoration: none;
    margin: 10px;
}

#mainView{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.outbox{
    display: flex;
    flex-direction: row;
}

.box{
    background: #00000080;
    border: solid 4px;
    border-image-source: url(spectrum.jpg);
    border-image-slice: 60 30;
    padding: 5px;
    margin: 5px;
    overflow: auto;
}

.holder{
    padding: 5px;
    margin: 5px;
    overflow: auto;
}

.center{
    text-align: center;
}




/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px ##ff00ff00;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff00ff55;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff00ff55;
}

::-webkit-scrollbar-corner{
    background: #ff00ff00;
}
